input{
    border: none;
}
#submit{
    padding:5px 10px;
    color: white;
    background-color: teal;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
#display{
    margin-top: 35px;
    background-color: dodgerblue;
    color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul{
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding: 20px 0;
}

li{
    list-style: none;
}

li span{
    display: block;
}

span{
    font-size: 50px;
}